
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/Screen.css">
<link rel="stylesheet" type="text/css" href="~/Content/about.css">

<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">


<!DOCTYPE html>
<body>
<!--<canvas id='canvas'>about</canvas>-->
    <div id="canvas">
        <div class="text-rotate">
            <div class="item">ABOUT:)</div>
            <div class="item">WE</div>
            <div class="item">LOVE</div>
            <div class="item">GYM!</div>
        </div>
    </div>

    <aside style="font-size:larger;float:right;padding-left:5px;">Vestibulum imperdiet malesuada leo</aside>
    <section>
        <h1>Adi Azarya</h1> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor, mi eu tristique ornare, erat nulla cursus sem, et imperdiet odio est vitae ex. Donec sollicitudin bibendum nunc in accumsan. Maecenas a sem magna. Vestibulum hendrerit, nulla sit amet placerat tincidunt, urna mi molestie urna, eu auctor nibh tellus sed lorem. In ac accumsan nibh, ac eleifend nisi. Pellentesque vel sodales felis, eu posuere erat. Vestibulum laoreet eget massa sit amet consectetur.</p>
    </section><a href="~/ContactUs/">Contact me</a></nav>


    <div class="zlil">
        <h1>Zlil Korman</h1>
        <p>Integer et augue eget felis malesuada cursus nec iaculis ligula. Aliquam erat volutpat. Nullam vel consectetur felis. Sed faucibus consectetur rutrum. Aliquam tristique velit felis, ut dictum lacus hendrerit a. Donec sit amet porta mauris. Praesent quis lectus et mauris volutpat venenatis nec ut mauris. Aenean dui urna, dapibus a dapibus ac, rhoncus vel enim.</p>
    </div><nav><a href="~/ContactUs/">Contact me</a></nav>



</body></html>

<!----------------------------SCRIPT FOR CANVAS------------------------S-->
<script>var keyword = document.getElementById('canvas').innerHTML;</script>


