@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/Screen.css">
<link rel="stylesheet" type="text/css" href="~/Content/ConectUs.css">

<div id="title">
    Create By:
</div>

<div id="ZlilKorman">
    <div class="PersonalDetails">
        Zlil Korman <br />
        +972 54-584-0016<br />
        Zlil.Korman@gmail.com<br />
        <a href="https://www.facebook.com/zlil.korman?hc_location=ufi">facebook</a><br />
    </div>

    <img src="../IMG/ZlilPic.jpg" alt="Zlil" />
</div>

<div id="AdiAzarya">
    <div class="PersonalDetails">
        Adi Azarya<br />
        +972 50-797-8622<br />
        Adiazarya100@gmail.com<br />
        <a href="https://www.facebook.com/adiazarya100?hc_location=ufi">facebook</a><br />
    </div>

    <img src="../IMG/AdiPic.jpg" alt="Adi" />
</div>

